[jumbotron disclaimer]
jumbotron = "footer-funding"
background = "transperant"
templates = "template3"
description_limit = 0

[menu footer_menu]
start = "id-1"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1

[cookieConsent]
message = "This website uses cookies to ensure you get the best experience on our website."
dismiss = "Got it!"
learnMore = "More info"
link = "/privacy-policy"
theme = "light-bottom"
==
{% component 'cookieConsent' %}
<div class="container-fluid border-box dark-background">

    <div class="container">

        <div class="row between-md around-xs middle-xs logo_and_nav">
            <div class="col-md-1 col-xs-12 start-md center-xs">
                <div class="footer-logo-container">
                    <a href="{{'home'|page}}">
                        {% if this.theme.site_logo %}
                        <img src="{{ this.theme.site_logo.getPath() }}" alt="{{ this.theme.site_name }}">
                        {% endif %}
                    </a>
                </div>
            </div>
            <div class="col-md-5 col-xs-12"></div>
            <div class="col-md-6 col-xs-12 end-md center-xs navigation" id="footerNavbarNav">
                <div class="heading-text">{{ 'Navigation'|_ }}</div>
                {% component 'footer_menu' %}
            </div>
        </div>

        <div class="row between-md around-xs">
            <div class="col-md-2 col-xs-12 subscribe start-md center-xs">
                <div class="heading-text">{{ 'Subscribe to our newsletter'|_ }}</div>
                {% if this.theme.subscribe %}
                <a href="{{this.theme.subscribe}}" target="_blank" class="">{{ 'Subscribe'|_ }}</a>
                {% endif %}
            </div>
            <div class="col-md-2 col-xs-12 follow start-md center-xs">
                <div class="heading-text">{{ 'Follow us'|_ }}</div>
                <div class="social_media">
                    <div>
                        {% if this.theme.twitter_url %}
                        <a href="{{this.theme.twitter_url}}" target="_blank" rel="noopener noreferrer" class="pr p-twitter normal "></a>
                        {% endif %}
                        {% if this.theme.facebook_url %}
                        <a href="{{this.theme.facebook_url}}" target="_blank" rel="noopener noreferrer" class="pr p-facebook normal "></a>
                        {% endif %}
                        {% if this.theme.linkedin_url %}
                        <a href="{{this.theme.linkedin_url}}" target="_blank" rel="noopener noreferrer" class="pr p-linkedin normal "></a>
                        {% endif %}
                        {% if this.theme.youtube_url %}
                        <a href="{{this.theme.youtube_url}}" target="_blank" rel="noopener noreferrer" class="pr p-youtube normal "></a>
                        {% endif %}
                        {% if this.theme.instagram_url %}
                        <a href="{{this.theme.instagram_url}}" target="_blank" rel="noopener noreferrer" class="pr p-instagram normal "></a>
                        {% endif %}
                        {% if this.theme.researchgate_url %}
                        <a href="{{this.theme.researchgate_url}}" target="_blank" rel="noopener noreferrer" class="pr p-researchgate normal "></a>
                        {% endif %}
                        {% if this.theme.bluesky_url %}
                        <a href="{{this.theme.bluesky_url}}" target="_blank" rel="noopener noreferrer" class="pr p-secondary p-bluesky normal "></a>
                        {% endif %}
                        {% if this.theme.threads_url %}
                        <a href="{{this.theme.threads_url}}" target="_blank" rel="noopener noreferrer" class="pr p-secondary p-threads normal "></a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-xs-12">
                <div class="footer_funding">
                    <img src="{{'FundedbytheEU_RGB.svg'|media }}"/>
                </div>
                <div class="funding-text">
                    {% component 'disclaimer' %}
                </div>
            </div>
        </div>

        <div class="row between-xs privacy-row">
            <div class="privacy-link start-xs">
                <a href="/privacy-policy">{{ 'Privacy Policy'|_ }}</a>
            </div>
            <div class="powered-by end-md start-xs">
                <span>{{ 'Designed and powered by'|_ }} <a href="https://pensoft.net/" target="_blank">
                    <img class="pensoft_logo" src="{{ 'assets/images/pensoft-logo.png'|theme }}" /></a>
                </span>
            </div>
        </div>

    </div>
</div>
