[menu]
start = "id-1"
activeNode = 0
listItemClasses = "nav-item"
primaryClasses = "navbar-nav"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[localePicker]
forceUrl = 0
==

<nav class="pr-1 pl-1 navbar fixed" id="headernavbar" role="navigation" aria-label="Primary">
    <div id="menuToggle">
        <input type="checkbox" aria-label="Toggle navigation menu" aria-controls="headerNavbarNav" />
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        {% component 'menu' %}
    </div>

    <a href="{{'home'|page}}" class="navbar-brand" id="navbar-brand"
       style="background: url('{{ this.theme.site_logo.getPath() }}') center no-repeat; background-size: contain;" aria-label="Home" title="Home"></a>

    <div class="container menu_container">
        <div class="navbar-collapse collapse center-xs" id="headerNavbarNav">
            {% component 'menu' %}
        </div>
    </div>

    <div class="funding-social-media">

        <div class="social_media">
            <div>
                {% if this.theme.bluesky_url %}
                <a href="{{this.theme.bluesky_url}}" target="_blank" rel="noopener noreferrer" class="pr p-secondary p-bluesky normal" aria-label="visit our bluesky (opens in a new tab)"><span class="visually-hidden">bluesky</span></a>
                {% endif %}
                {% if this.theme.facebook_url %}
                <a href="{{this.theme.facebook_url}}" target="_blank" rel="noopener noreferrer" class="pr p-secondary p-facebook normal" aria-label="visit our facebook (opens in a new tab)"><span class="visually-hidden">facebook</span></a>
                {% endif %}
                {% if this.theme.linkedin_url %}
                <a  href="{{this.theme.linkedin_url}}" target="_blank" rel="noopener noreferrer" class="pr p-secondary p-linkedin normal" aria-label="visit our linkedin (opens in a new tab)"><span class="visually-hidden">linkedin</span></a>
                {% endif %}
                {% if this.theme.youtube_url %}
                <a  href="{{this.theme.youtube_url}}" target="_blank" rel="noopener noreferrer" class="pr p-secondary p-youtube normal" aria-label="visit our youtube (opens in a new tab)"><span class="visually-hidden">youtube</span></a>
                {% endif %}
                {% if this.theme.instagram_url %}
                <a  href="{{this.theme.instagram_url}}" target="_blank" rel="noopener noreferrer" class="pr p-secondary p-instagram normal" aria-label="visit our instagram (opens in a new tab)"><span class="visually-hidden">instagram</span></a>
                {% endif %}
                {% if this.theme.twitter_url %}
                <a href="{{this.theme.twitter_url}}" target="_blank" rel="noopener noreferrer" class="pr p-secondary p-twitter normal" aria-label="visit our x (twitter) (opens in a new tab)"><span class="visually-hidden">x (twitter)</span></a>
                {% endif %}
                {% if this.theme.threads_url %}
                <a href="{{this.theme.threads_url}}" target="_blank" rel="noopener noreferrer" class="pr p-secondary p-threads normal" aria-label="visit our threads (opens in a new tab)"><span class="visually-hidden">threads</span></a>
                {% endif %}

                <select class="locale-select form-control" onchange="window.location.assign(this.value)">
                    {% for code, name in locales %}
                    <option data-lang="{{code}}" value="{{ this.page.url|localeUrl(code) }}" {{ code == activeLocale ? 'selected' }}>{{ name }}</option>
                    {% endfor %}
                </select>

            </div>
        </div>

        {% if this.page.id == 'home' %}
        <div class="funding">
            {% if footer_funds_flag %}
            <img class="funding-flag" src="{{ footer_funds_flag }}"/>
            {% endif %}
        </div>
        {% endif %}

    </div>

</nav>

{% if this.page.id != 'home' %}
<div class="header-image {{page_id}}">
    <div class="container">
        <h1 class="underline white">
            {% if page_title %} {{ page_title|_ }} {% else %} {{ site_name }} {% endif %}
        </h1>
    </div>
</div>
{% endif %}
