
nav:not(.navbar){
    width: 100%;
    ul{
        list-style-type: none;
        li{
            display: inline;
        }
    }
}

.news-img-top{
    display: block;
}

.news_image_holder{
    float: left;
    width: 100%;
    height: auto;
    display: block;
    margin-right: 30px;
    margin-bottom: 20px;
    .breakpoint-large-down({
        width: 100%;
        margin-right: 0;
    });
}



nav:not(.navbar){
    width: 100%;
    ul{
        list-style-type: none;
        li{
            display: inline;
            margin: 0 10px;
        }
    }
}

#layout-content.news{
    min-height: 800px;
}


.news{
    .go_back{
        color: #05133a!important;
        position: relative;
        padding-left: 19px;

        font-weight: 500;
        font-size: 16px;
        line-height: 19.2px;
        letter-spacing: 0;


        &:before {
            content: "";
            position: absolute;
            width: 13px;
            height: 13px;
            left: 0;
            top: 4px;
            background: url('../../assets/images/arrow-down.svg') no-repeat center center;
            background-size: contain;
            transform: rotate(90deg);
        }

        a{
            color: #05133a!important;
        }

        a:hover{
            color: #05133a;
            opacity: 0.7;
        }

    }
}

.single-news-item{

    position: relative;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    font-size: 18px;


    .news-date{
        font-size: 20px;
        line-height: 14px;
        margin: 10px auto 4px auto;
        font-family: 'Google Sans Flex', sans-serif;
        text-align: center;
        color: @green-color;
    }

    h1{
        text-align: center;
        font-weight: 600;
        line-height: 1.3em;
        margin: 20px auto!important;
    }


    .content{
       ul{
           font-size: 1em;
           margin-bottom: 20px;
       }
    }

    .share_container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        padding: 0;
        color: @heading-text-color;
        font-weight: 500;
        margin-top: 40px;
        a{
            width: 35px;
            height: 35px;
            color: white;
            background: @link-color;
            border-radius: 6px;
            font-size: 1.3em!important;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            &:hover{
                opacity: 0.5;
            }
            &.p-bluesky{
                font-size: 0.9em!important;
            }
        }
    }

    img{
        width: auto;
        max-width: 100%;
        //border-radius: 7px;

        &.article_cover{
            margin-bottom: 40px;
            margin-top: 40px;
            border-radius: 20px;
        }

    }

    .caption{
        text-align: center;
        font-size: 16px;
        font-style: italic;
    }
}


.news{
    .news-list{
        width: 100%;


        /**/
        .img-container{
            position: relative;
            width: 100%;
            border-radius: 20px;
            overflow: hidden;
            position: relative;

            img{
                width: 100%;
                object-fit: cover;
                border-radius: 20px;
                //transform: scale(1);
                transition: all 0.3s ease-in-out;
                position: relative;


                &:hover{
                    //transform: scale(1.1);
                }
            }
        }

        .latest-news{
            .img-container{
                img{
                    height: 521px;
                    .breakpoint-large-down({
                        height: 246px;
                    });
                }
            }
        }

        .row + .row {
            margin-top: 1.1rem;
            .breakpoint-large-down({
                margin-top: 0;
            });
        }

        .highlight-news{
            .img-container{
                img{
                    min-height: 301px;
                    max-height: 301px;
                }
            }
        }

        .news-title{
            width: 90%;
            height: fit-content;
            background: rgba(5, 19, 58, 0.68);
            border-radius: 20px;
            position: absolute;
            bottom: 7px;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding: 2% 5% 3% 5%;


            .news-date{
                font-size: 14px;
                line-height: 14px;
                margin-bottom: 4px;
                margin-top: 10px;
                font-family: 'Google Sans Flex', sans-serif;
                color: @date-text-color;
            }

            .title{
                margin-bottom: 0;
                h3{
                    font-size: 22px;
                    line-height: 26px;
                    font-family: 'Google Sans Flex', sans-serif;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    margin-bottom: 0;
                    a{
                        color: #FFFFFF;
                    }
                }
            }
        }

    }

    h1.single-new-title{
        color: @heading-text-color;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 48px */
        letter-spacing: -1.6px;
        margin-top: 0px;
        margin-bottom: 0!important;

    }

    //.single-news-item{
    //    width: 743px;
    //    max-width: 100%;
    //    margin: 0 auto;
    //
    //    img{
    //        width: 743px;
    //        max-width: 100%;
    //        height: auto;
    //        border-radius: 10px;
    //    }
    //
    //    .caption{
    //        font-size: 14px;
    //        color: @date-text-color;
    //        font-style: italic;
    //    }
    //
    //    .text-published{
    //        font-size: 14px;
    //        color: @date-text-color;
    //        font-weight: 400;
    //    }
    //
    //    h1.single-new-title{
    //        font-weight: 500;
    //        color: @heading-text-color;
    //    }
    //

    //
    //}

    .edit-link{
        display: none;
    }

    .highlights-news-slider-container{
        display: block;
        margin: 0 auto;
    }

    .container:has(.news-list){
        padding-bottom: 0;
        .breakpoint-large-down({
            padding: 0 10px;
        });
    }

    .category-tabs-container{
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;

        a{
            border-radius: 100px;
            background:@secondary-color;
            display: flex;
            width: 124px;
            height: 44px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            color: rgba(24, 45, 16, 0.25);
            text-align: center;
            font-family: 'Google Sans Flex', sans-serif;
            font-size: 17px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.232px;
            margin-right: 10px;

            .breakpoint-large-down({
                width: fit-content;
                padding: 3px 10px;
                align-items: center;
                justify-content: space-between;
                display: inline-flex;
                margin: 10px;
                &.active{

                }
            });

            &:hover{
                background: @green-color;
            }

            &.active{
                background: @green-color;
                color: @heading-text-color;
                text-align: center;
                font-family: 'Google Sans Flex', sans-serif;
                font-size: 17px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.232px;
            }

        }
        .category-tabs{
            .breakpoint-large-down({
                display: flex;
                align-items: center;
                justify-content: center;
            });
        }
        .breakpoint-large-down({
            margin-left: unset;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            text-align: center;
        });
    }

}


/*
        HOME NEWS HIGHLIGHT SECTION
    */
.highlights-news{
    position: relative;
    margin-bottom: 50px;

    .row + .row {
        margin-top: 15px;
    }

    .container:first-of-type{
        padding-bottom: 0;
    }

    .news-item{
        width: 334px;
        max-width: 100%;
        margin-right: 20px;
        position: relative;
        display: flex;
        flex-direction: column;


        .news-title{
            font: normal normal 600 18px/27px 'Google Sans Flex', sans-serif;
            color: #05133A;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .news-date{
            position: absolute;
            top: 12px;
            left: 12px;
            background: #FFEDF8;
            border-radius: 10px;
            opacity: 1;
            font: normal normal 600 13px/30px 'Google Sans Flex', sans-serif;
            letter-spacing: -0.2px;
            color: #FF009E;
            text-transform: uppercase;
            font-size: 15px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 12px;
        }

        .news-content{
            padding: 0;
        }

        .read-more{
            font: normal normal 600 16px/30px 'Google Sans Flex', sans-serif;
            letter-spacing: -0.24px;
            color: #3268FF;
            opacity: 1;
            display: flex;
            justify-content: space-between;
            width: 105px;
            transition: all 0.3s ease-in-out;
            &:hover{
                opacity: 0.8!important;
                width: 110px;
            }
        }

        .breakpoint-small-down({
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: left;
            margin: 0 auto;
            max-width: 95%;
        });
    }

    .home-news-cover{
        display: flex;
        padding: 0!important;
        a{
            width: 334px;
            height: 196px;
            border-radius: 20px;
            overflow: hidden;
            .breakpoint-large-down({
                display: block;
                width: 100%;
            });
        }

    }

    .home-news-cover img {
        width: 334px;
        height: 196px;
        object-fit: cover;
        border-radius: 20px;
        max-width: 100%;
        transition: all 0.5s ease-in-out;
        &:hover{
            transform: scale(1.2);
        }
        .breakpoint-large-down({
            width: auto;
            height: 200px;
            margin: 0 auto 20px auto;
            object-fit: cover;
        });
    }

}
