
<div class="events_list_container row">
    {% for entry in records %}
    <div class="col-md-6 col-xs-12 highlight-events">
        <div class="img-container">
            <a href="/{{currentLang}}/events/{{entry.slug}}">
                {% if entry.cover_image %}
                <img src="{{entry.cover_image.thumb(647, 345,{'mode':'crop'})}}" alt="{{ entry.title }}">
                {% else %}
                <img src="{{'sctt-general.png'|media}}" alt="{{ entry.title }}">
                {% endif %}
            </a>

            <a class="events-title" href="/{{currentLang}}/events/{{entry.slug}}">
                <div class="events-date">
                    {% if entry.start == '2026-09-25T09:07:29' %} autumn {{entry.start|date("Y")}} {% else %}

                    {% if entry.start|date("j") != entry.end|date("j") %} {{entry.start|date("j")}}-{{entry.end|date("j")}}{% else %}{{entry.start|date("j")}}{% endif %}


                    {{entry.start|date("M Y")}}


                    {% endif %}

                </div>
                <div class="title">
                    <h3>{{ entry.title|raw}}</h3>
                </div>
            </a>

        </div>
<!--        <div class="col-md-1 col-xs-12 read-more-events end-md center-xs">-->
<!--            <a href="{{url}}" class="read-more">{{ 'Read more'|_ }}</a>-->
<!--        </div>-->
    </div>
    {% endfor %}
</div>

{% if records.count > 20 %}
<div class="row container">
    {{ entries.fragment('listView').render|raw }}
</div>
{% endif %}
