<div class="container-fluid homepage-intro">
    <div class="video-carousel">
<!--        <div class="video-carousel-0">-->
<!--            <img src="{{ 'grand-opening.png'|media }}">-->
<!--            <div class=" container intro-container">-->
<!--                <h1 class="blue has-btn">-->
<!--                    <span class="event_date">{{ 'JAN'|_ }} 19 - {{ 'JAN'|_ }} 21, 2026</span>-->
<!--                    {{ 'grand opening'|_ }} <br>{{ 'in split, Croatia'|_ }}-->
<!--                    <a href="/events/opening-ceremony" class="live-stream-btn">-->
<!--                        <img src="{{ 'assets/images/video-stream-icon.svg'|theme }}" alt="Live Stream">-->
<!--                        {{ 'Live Stream'|_ }}-->
<!--                    </a>-->
<!--                </h1>-->
<!--            </div>-->
<!--        </div>-->

        <div class="video-carousel-1">
            <video autoplay muted loop>
                <source src="{{ 'video3.mp4'|media }}" type="video/mp4">
            </video>
            <div class=" container intro-container">
                <h1 class="blue"><span>{{ 'SCIENCE'|_ }}</span> {{ 'COMES TO KIEL'|_ }}</h1>
            </div>
        </div>
        <div class="video-carousel-2">
            <video autoplay muted loop>
                <source src="{{ 'video2.mp4'|media }}" type="video/mp4">
            </video>
            <div class=" container intro-container">
                <h1 class="pink"><span>{{ 'SCIENCE'|_ }}</span> {{ 'COMES TO SPLIT'|_ }}</h1>
            </div>

        </div>
        <div class="video-carousel-3">
            <video autoplay muted loop>
                <source src="{{ 'video1.mp4'|media }}" type="video/mp4">
            </video>
            <div class=" container intro-container">
                <h1 class="green"><span>{{ 'SCIENCE'|_ }}</span> {{ 'COMES TO BREST'|_ }}</h1>
            </div>
        </div>
    </div>
</div>
