<div class="container-fluid homepage-intro">
    <div class="hero-section">
        {% if this.theme.header_image %}
        <img src="{{ this.theme.header_image.getPath() }}" alt="{{ this.theme.site_name }}" class="hero-image">
        {% endif %}
        <div class="container intro-container">
            <h1>{{ this.theme.site_name }}</h1>
            {% if this.theme.tag_line %}
            <p class="hero-tagline">{{ this.theme.tag_line }}</p>
            {% endif %}
        </div>
    </div>
</div>
