@text-color-default: #001C44;
@padding-base-space: 10px;
@margin-base-space:20px;

@padding-base-space-home: 15px;
@margin-base-space-home: 0px;

@margin-list-space:50px;
@heading-space:100px;
@rounded-base: 0px;
@opacity-base: 65;
@border-line-width: 2px;
@border-line-style: solid;

@zindex-dropdown:          1000;
@zindex-sticky:            1020;
@zindex-fixed:             9999;
@zindex-modal-backdrop:    1040;
@zindex-modal:             1050;
@zindex-popover:           1060;
@zindex-tooltip:           1070;

@breakpoint-small-min-width: 576px;
@breakpoint-medium-min-width: 768px;
@breakpoint-large-min-width: 992px;
@breakpoint-smalllaptop-min-width: 1278px;
@breakpoint-laptop-min-width: 1363px;
@breakpoint-huge-min-width: 1438px;

@breakpoint-small-max-width:575.98px;
@breakpoint-medium-max-width:767.98px;
@breakpoint-large-max-width:991.98px;
@breakpoint-huge-max-width:1199.98px;
@breakpoint-laptop-max-width:1370.98px;
@breakpoint-screen-max-width:1590.98px;

// ReNatgro color palette (from Figma)
@primary-color: #001C44;
@secondary-color: #f0f0f0;
@secondary-color-hover: #DCEBF3;
@secondary-btn-color: #283841;
@success-color: #020202;
@link-color: #093C84;
@danger-color: #dc3545;
@warning-color: #ffc107;
@info-color: #E5BD3C;
@light-color: #1F1F1F;
@dark-color: #001C44;
@yellow-color: #E5BD3C;
@green-color: #84AF31;
@blue-color: #093C84;
@pink-color: #f4009f;
@footer-color: #001C44;

@light-blue-bg: #EAEEFF;
@green-accent: #84AF31;
@muted-text-color: #8C99AB;

@white-color: #ffffff;
@transparent: rgba(0,0,0,0);
@default-color: @dark-color;
@muted-color: @default-color;
@black-color: #000000;
@border-color: #B1B1B1;
@grey-color: #495a62;
@grey-btn-search-color: #35393E;
@navbar-scrolled-color: #001C44;

@header-text-color: #FFFFFF;
@body-text-color: #001C44;
@heading-text-color: #001C44;
@date-text-color: #FFEDF8;
@link-text-color: @blue-color;
@button-text-color: #FFFFFF;
@button-background-color: #093C84;

@footer-text-color: #C3C3C3;

// Navbar
@nav-link-active-color: #f8f9fa;
@navbar-bkg-hover-color: #fff;
@navbar-color: #fff;
@navbar-dark-color: @black-color;
@navbar-bkg-color: @navbar-scrolled-color;
@navbar-font-color: #fff;
@navbar-light-bkg-color: @white-color;

// List
@list-item-hover: #AFB8BC;

// Footer
@footer-bkg-color: #001C44;
