html,body {
    font-family: Inter, sans-serif;
    background-color: @background-color;
    color: @text-color-default;
    font-weight: 400;
    height: 100%;
    .font-size();
    .line-height();
    .letter-spacing();
    font-size: 16px;
    font-style: normal;
    line-height: 1.7em;
}

a {
    color: @link-color;
    transition: all 0.3s ease-in-out;
    &:focus{
        outline: none;
    }
}
ol{
    list-style-type:decimal;
    padding-left: 20px;
}

button{
    &:focus{
        outline: none;
    }
}

.btn:focus{
    outline: none!important;
}

p{
    color: @text-color-default;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    font-family: Inter;
}

img{
    max-width: 100%;
}

.row + .row {
    margin-top: 55px;
}

ul{
    list-style-type: disc;
}

ol.q {list-style-type: upper-roman; padding-left: 20px;}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .title, .head, .page_heading{
    color: @heading-text-color;
    font-family: Staatliches;
    line-height: normal;
}
h1, h2{
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.84px;

    .breakpoint-laptop-down({
        font-size: 3vw;
    });
    .breakpoint-large-down({
        font-size: 30px;
    });
}

.subtitle{
    color: @yellow-color;
}

p:has(.edit-link){
    display: none!important;
}

.head{
    color: @dark-color;
    font-size: 20px;
    font-weight: bold;
}
.page_heading{
    color: @heading-text-color;
    font-size: 75px;
    line-height: 100px;

    .breakpoint-large-down({
        text-align: center;
        word-break: break-word;
        font-size: 46px;
        line-height: 50px;
        margin-left: 0!important;
    });
}

.privacy{
    a{
        color: @yellow-color;
        &:hover{
            opacity: 0.7;
        }
    }
}

ul.pagination{
    padding: 0;
    margin: 0 auto;
    width: fit-content;
    .page-item{
        font-weight: bold;
    }
}


.header-image{
    position: relative;
    color: @white-color;
    height: 346px;
    background: @button-background-color;
    border-radius: 20px;
    margin: 15px;

    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent linear-gradient(-180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%) 0% 0% no-repeat padding-box;
    }

    .container{
        padding: 0;
        width: inherit;
        height: 100%;
        display: flex;
        align-items: end;
    }

    h1 {
        &.underline {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
            margin-bottom: 55px;
            padding-top: 0px;
            font: normal normal normal 100px/95px Staatliches;
            color: white;

            .breakpoint-large-down({
                font-size: 40px;
                padding-top: 0px;
            });
        }
    }

    .jumbotron{
        display: flex;
        justify-content: left;
        text-align: left;
        .breakpoint-large-down({
            justify-content: center;
            text-align: center;
        });
    }
}


#layout-content {
    &:not(.home){
        h1.underline{
            font-size: 50px;
            display: block;
            text-transform: uppercase;
            color: @dark-color;
        }

        .breakpoint-laptop-down({
            overflow: hidden;
        });
    }

    &.search{
        margin-top: 0;
    }

    .container{
        ul{
            padding-left: 40px;
            .breakpoint-large-down({
                padding-left: 0;
            });
        }
    }
}

.content-wrapper{
    min-height: 100%;

    .row{
        width: 100%;
    }
}

#layout-footer {
    position: relative;
    color: white;
    z-index: 2;
    padding: 16px 19px 16px 19px;

    .container{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .heading-text{
        font-size: 16px;
        text-transform: uppercase;
        font-family: Staatliches;
        letter-spacing: 0.5px;
        line-height: 1.2em;
    }

    .subscribe{
        max-width: 191px;
        padding-right: 57px !important;

        .breakpoint-laptop-down({
            padding-right: 0px !important;
        });

        a{
            width: 134px;
            height: 38px;
            background: #FFFFFF;
            border-radius: 19px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: @blue-color;
            margin-top: 20px;

            .breakpoint-large-down({
                margin: 20px auto 40px auto!important;
            });

            &:hover{
                opacity: 0.5;
            }
        }
    }

    .follow{
        max-width: 191px;

        .social_media{
            margin-top: 20px;
            align-items: center;
            display: flex;
            width: 100%;
            div{
                align-items: center;
                display: flex;
                width: 100%;

                .breakpoint-large-down({
                    justify-content: space-between;
                });
            }
            a{
                width: 34px;
                height: 34px;
                background: #FFFFFF1A;
                border: 1px solid #FFFFFF66;
                border-radius: 8px;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
            }
        }
    }


    .container-fluid {
        &.dark-background {
            background: @footer-bkg-color;
            background-size: cover;
            width: 100%;
            border-radius: 20px;

            .project_footer_logo{
                width: 145px;
                height: 75px;
                object-fit: contain;

                .breakpoint-large-down({
                    width: 50%;
                    height: auto;
                });
            }
        }
    }
    .footer-menu-container{
        align-items: flex-start;
        width: 100%;
    }
    .footer_funding {
        display: flex;
        align-items: center;
        padding: 0 20px;
        color: @white-color;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.2em;
        letter-spacing: -0.02em;

        .breakpoint-large-down ({
            margin-top: 40px;
        });

        .container{
            padding: 0;
            p{
                margin-bottom: 0;
            }
        }

        img{
            height: 39px;
            width: auto;
            object-fit: contain;
            .breakpoint-large-down ({
                height: unset;
                width: fit-content;
            });
        }
    }

    .funding-text{
        padding: 0 20px;
        margin-top: 20px;

        .breakpoint-large-down({
            margin-bottom: 40px;
        });

        .container{
            padding: 0;
            p{
                margin-bottom: 0;
                font: normal normal normal 12px/16px Inter;
                letter-spacing: 0px;
                color: #FFFFFF;
            }
        }
    }

    .footer-logo-container{
        img{
            width: 107px;
        }
    }

    .logo_and_nav{
        margin-bottom: 65px;
    }

    .navigation{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: start;

        .breakpoint-large-down({
            align-items: center;
            justify-content: space-around;
            margin-top: 40px;
        });

        .heading-text{
            margin-bottom: 20px;
        }

        .nav{
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            align-items: flex-start;

            .breakpoint-laptop-down({
                align-items: flex-start;
                flex-wrap: wrap;
                justify-content: flex-start;
            });

            .breakpoint-large-down({
                align-items: center;
            });

            .item{
                width: fit-content;
                text-align: left;
                .breakpoint-huge-down({
                    white-space: nowrap;
                    margin-right: 15px;
                    margin-bottom: 2px;
                });
            }

            li{
                .breakpoint-laptop-down({
                    margin-right: 20px;
                    margin-bottom: 20px;
                });

                .breakpoint-large-down({
                    margin-right: 0px;
                    margin-bottom: 0px;
                });

                a{
                    color: white;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.2em;
                    letter-spacing: -0.02em;
                    text-align: center;
                    font-family: 'Inter';
                    display: flex;
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }

            .breakpoint-large-down ({
                flex-direction: column;
            });
        }
    }

    .privacy-row{
        border-top: 1px solid rgba(255, 255, 255, 0.35);
        margin-top: 30px;
        padding-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a{
            font: normal normal normal 12px/16px Inter;
            letter-spacing: 0px;
            color: #FFFFFF;
            margin-right: 20px;
        }

        .privacy-link{
            .breakpoint-large-down({
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                margin-bottom: 20px;
            });
        }

        .powered-by {
            display: flex;
            flex: 1 0 auto;
            align-items: center;
            color: @white-color;
            white-space: nowrap;
            font: normal normal normal 12px/16px Inter;

            .breakpoint-large-down({
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            });

            span{
                display: flex;
                align-items: center;
            }
            a{
                margin-right: 0!important;
            }

            .pensoft_logo{
                float: right;
                margin-left: 10px;
                height: 16px;
                width: auto;
            }
        }
    }

    .breakpoint-large-down ({
        height: auto;
    });
}


.highlight {
    background-color: #f8f9fa;
    padding: @padding-base-space;

    .pre {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        background-color: transparent;
        border: 0;
        overflow: auto;

        .code {
            font-size: inherit;
            color: #212529;
            word-break: normal;
        }
    }
}

.commig_soon{
    width: 50%;
    margin: 200px auto;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.84px;
    text-align: center;
}


/* HOMEPAGE */
.homepage-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden !important;
    position: relative;

    .hero-section {
        position: relative;
        width: 100%;
        min-height: 60vh;
        padding: 16px 19px 0 19px;
        background: @button-background-color;
        border-radius: 20px;
        margin: 0 19px;
        display: flex;
        align-items: center;
        justify-content: center;

        .breakpoint-large-down({
            min-height: 40vh;
        });

        .hero-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }

        .intro-container {
            position: relative;
            z-index: 2;
            text-align: center;
            padding: 40px;

            h1 {
                text-transform: uppercase;
                font-size: 90px;
                font-family: Staatliches;
                color: @white-color !important;
                line-height: 1.1em;

                .breakpoint-large-down({
                    font-size: 50px;
                });
            }

            .hero-tagline {
                color: @white-color !important;
                font-size: 24px;
                font-weight: 300;
                margin-top: 20px;

                .breakpoint-large-down({
                    font-size: 18px;
                });
            }
        }
    }
}

.funding-social-media{
    position: absolute;
    top: 30px;
    right: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 2;

    .breakpoint-huge-down({
        top: 11px;
    });

    .social_media{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        font-family: Staatliches;
        a{
            width: 34px;
            height: 34px;
            background: @blue-color;
            border: 1px solid @blue-color;
            border-radius: 8px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            &:hover{
                background: @dark-color;
                border: 1px solid @dark-color;
            }
        }
    }

    span{
        font-size: 12px;
        letter-spacing: 0px;
        color: @dark-color;
    }

    div{
        display: flex;

        .breakpoint-large-down({
            display: none;
        });
    }

    .funding-flag{
        width: auto;
        height: 41px;
    }
}

.home{
    .funding-social-media{
        top: 40px;
        .breakpoint-huge-down({
            top: 95px;
        });
    }

    .navbar-brand{
        top: 25px;
    }
}

.visually-hidden{
    display: none;
}

.no-padding{
    padding: 0;
}
