description = "Default layout"

[SeoCmsPage]

[session]
security = "all"

[metaList]
includePageMeta = 1
escape = 1

[localePicker]
forceUrl = 0

==
<?php
function onStart() {
    $translator = \RainLab\Translate\Classes\Translator::instance();

    $currentLang = $translator->getLocale();

    $this['currentLang'] = $currentLang;
}
?>
==

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700&display=swap" rel="stylesheet">
    {% component 'SeoCmsPage' %}
    {% if this.theme.site_icon %}
    <link rel="icon" type="{{this.theme.site_icon.getContentType()}}" href="{{this.theme.site_icon.getPath()}}">
    {% endif %}

    <link href="{{ ['assets/less/theme.less']|theme }}" rel="stylesheet">
    <script src="{{ 'assets/js/jquery.js'|theme }}"></script>
    <script src="{{ 'assets/js/app.js'|theme }}"></script>

    <script src="{{ 'assets/js/jquery-ui.js'|theme }}"></script>
    <script src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/slick.min.js'|theme }}"></script>

    <link rel="stylesheet" href="{{ 'assets/css/aos.css'|theme }}">
    <script src="{{ 'assets/js/aos.js'|theme }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">

    {% if this.page.id == 'news' and is_detail_page %}
        {% component 'metaList' includePageMeta=false %}
    {% else %}
        {% component 'metaList' %}
    {% endif %}

    {% framework extras %}
    {% styles %}
    {% scripts %}
</head>

<body data-current-lang="{{ currentLang }}">
<div class="content-wrapper {{this.page.id}}">
    <!-- Header -->
    <header id="layout-header">
        {% partial 'site/header'
        page_title=this.page.title
        page_id=this.page.id
        %}
    </header>

    {% if this.page.id == 'home' %}
    {% partial 'homepage-intro' %}
    {% endif %}

    <!-- Content -->
    <section id="layout-content" class="{{this.page.id}}">
        {% page %}
    </section>
</div>
<!-- Footer -->
<footer id="layout-footer">
    {% partial 'site/footer' %}
</footer>

<div id="gdpr-reload">
    {% partial 'gdpr' %}
</div>

<script>
    $(function() {
        AOS.init();
    });
</script>

<script src="{{ 'assets/js/script.js'|theme}}"></script>

</body>

</html>
