url = "/advisory-board"
layout = "default"
title = "Advisory board"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[siteSearchInclude]
==
<?php
use Pensoft\Cardprofiles\Models\Profiles as Profiles;

function onStart(){



$this['advisory_board'] = Profiles::where('category_id', 2)->get();

}
?>
==
{% component 'siteSearchInclude' %}

<div class="container">
    <div class="row start-md around-xs advisory_board">
        {% for k, profile in advisory_board %}
        <div class="col-md-6 col-xs-12">
            <div class="contact_info key_{{k}}">
                <div class="row">
                    <div class="col-md-4 col-xs-12 coordinator_image">
                        {% if profile.avatar %}
                        <img alt="{{ profile.names }}" src="{{profile.avatar|crop_image}}">
                        {% else %}
                        <img alt="{{ profile.names }}" src="{{ 'avatar.svg'|media }}" width="171" height="138" class="no-image">
                        {% endif %}
                    </div>
                    <div class="col-md-8 col-xs-12 coordinator_info">
                        <div class="">
                            <h3>{{ profile.names }}</h3>
<!--                            <p class="read-more expanded" onclick="expandBiography(this);" data-uw-rm-kbnav="click">Read biography</p>-->
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="body">
<!--                            <h4>Biography</h4>-->
                            {{ profile.content|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
