url = "/materials"
layout = "default"
title = "Materials"
is_hidden = 0
meta_description = "ReNatgro project materials and resources"
robot_index = "index"
robot_follow = "follow"
==
<?php
use Pensoft\Media\Models\Flyers;
use Pensoft\Media\Models\Presentations;
use Pensoft\Media\Models\Documents;
use System\Models\File;

function onStart(){
    $this['flyers'] = Flyers::get();
    $this['presentations'] = Presentations::get();
    $this['documents'] = Documents::get();
}

function onDownloadFile(){
    $file = File::find(post('id'));
    $pathToFile = $file->getLocalPath();
    $fileName = $file->file_name;
    $fileType = $file->content_type;
    $headers = [
        'HTTP/1.1 200 OK',
        'Pragma: public',
        'Content-Type: '.$fileType,
        'Content-Type: application/force-download'
    ];

    return Response::download($pathToFile, $fileName, $headers);
}
?>
==

<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <p>{{ 'Download project materials, technical sheets, and presentations.'|_ }}</p>
        </div>
    </div>

    {% if flyers.count() %}
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h2>{{ 'Project materials'|_ }}</h2>
        </div>
    </div>
    <div class="row">
        {% for item in flyers %}
        <div class="col-md-4 col-xs-12">
            <div class="row media-item">
                <div class="col-md-12 col-xs-12 mb-2 media-cover">
                    {% if item.file %}
                    <a href="{{ item.file.path }}" target="_blank">
                        {% if item.cover %}
                        <img src="{{ item.cover.thumb(334, 196,{'mode':'crop'}) }}" alt="{{ item.title }}">
                        {% endif %}
                        <div class="media-title">{{ item.title }}</div>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if presentations.count() %}
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h2>{{ 'Presentations'|_ }}</h2>
        </div>
    </div>
    <div class="row">
        {% for item in presentations %}
        <div class="col-md-4 col-xs-12">
            <div class="row media-item">
                <div class="col-md-12 col-xs-12 mb-2 media-cover">
                    {% if item.file %}
                    <a href="{{ item.file.path }}" target="_blank">
                        {% if item.cover %}
                        <img src="{{ item.cover.thumb(334, 196,{'mode':'crop'}) }}" alt="{{ item.title }}">
                        {% endif %}
                        <div class="media-title">{{ item.title }}</div>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if documents.count() %}
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h2>{{ 'Technical documents'|_ }}</h2>
        </div>
    </div>
    <div class="row">
        {% for item in documents %}
        <div class="col-md-4 col-xs-12">
            <div class="row media-item">
                <div class="col-md-12 col-xs-12 mb-2 media-cover">
                    {% if item.file %}
                    <a href="{{ item.file.path }}" target="_blank">
                        {% if item.cover %}
                        <img src="{{ item.cover.thumb(334, 196,{'mode':'crop'}) }}" alt="{{ item.title }}">
                        {% endif %}
                        <div class="media-title">{{ item.title }}</div>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if not flyers.count() and not presentations.count() and not documents.count() %}
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="commig_soon">
                {{ 'Coming soon...'|_ }}
            </div>
        </div>
    </div>
    {% endif %}
</div>
