.intro{
    text-align: center;
    color: @primary-color;
    padding-bottom: 0;
    .container{
        padding-bottom: 0;
    }
    p{
        font: normal normal 300 30px/42px Inter;
    }
}

.project-intro{
    .container{
        padding: 0;

        p{
            font: normal normal 300 18px/30px Inter;
            margin-bottom: 0;
        }
    }

    .title_and_btn{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .btn-primary{
            .breakpoint-large-down({
                margin: 0 auto 40px auto;
            });
        }
    }
}

.about_intro{
    .container{
        padding: 0;
        font: normal normal 300 18px/30px Inter;
    }
}

.about_top_items{
    display: flex;
    margin-bottom: 120px;
}

.about{
    .about1, .about2, .about3{
        .container{
            padding: 0;
        }
    }
}
