{% for k, partner in partners %}
<div class="col-md-6 col-xs-12">
    <div class="partner-item key_{{k}} {{ partner.instituion|slug }} ">
        <div class="partner_item_content">
            <div class="row middle-xs between-xs logo_and_flag">
                <div class="col-xs-8 col-md-8 partner_logo">
                    <img alt="{{ partner.instituion }}" src="{{partner.cover.path}}" role="presentation" alt="{{ partner.instituion }} logo">
                </div>
                <div class="col-xs-4 col-md-4 end-md start-xs partner_country">
                    {% if partner.add_description %}
                    <span class="add_label">{{partner.add_description|raw|striptags}}</span>
                    {% endif %}
                    <span class="flag country_{{partner.country_code[0]}}"></span></div>
            </div>
            <div class="partner_description">
                <div class="partner_title">
                    <h4>{{partner.instituion}}</h4>
                </div>
                {{partner.content|raw}}
            </div>
        </div>
        <a href="{{partner.instituion_url}}" target="_blank" class="btn btn-primary" aria-label="{{ 'Visit'|_ }} {{partner.instituion_url}}">{{ 'Visit website'|_ }} &#10230;</a>
    </div>
</div>
{% endfor %}
